*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

 Gradle Files #
################
.gradle
.gradletasknamecache
.m2

# Build output directies
target/
build/

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml

# AndroidStudio specific files/directories
local.properties
